/* Default CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #ffffff;
  --background-color-hover: #f0f0f0;
  --background-color2: #f0f0f0;
  --background-color2-hover: #e0e0e0;
  --background-color-navbar: #dbdbdb;
  --font-color: #000000;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.font-display {
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
  color: var(--font-color);
}

.font-header1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: var(--font-color);
}

.font-header2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: var(--font-color);
}

.font-header3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: var(--font-color);
}

.icon {
  max-height: 100%;
}

.link {
  text-decoration: none;
  color: var(--font-color);
}

/* App */
.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  flex: 1;
  gap: 3rem;
  max-width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 980px) {
  .App {
    align-items: start;
    margin-top: 3rem;
  }

  .App .compact-navbar {
    display: flex;
  }

  .App .navbar {
    display: none;
  }

  .App .navbar-margin {
    margin-left: 0;
  }
  
  .app-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .App .app-container > * {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .app-container {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .App .compact-navbar-icon {
    display: block;
  }

  .App .compact-navbar-container {
    display: none;
  }
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 20rem;
  min-height: 100vh;
  background-color: var(--background-color-navbar);
  padding: 1rem 1.5rem;
  flex: 1;
}

.navbar-margin {
  margin-left: 20rem;
}

.navbar-button {
  text-align: left;
  gap: 0.5rem;
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  border: none;
  height: 4rem;
  padding: 0.5em 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
}

.navbar-button:hover {
  background-color: var(--background-color-hover);
}

.navbar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: auto;
  margin-top: 1.5rem;
}

.navbar-buttonDropdown {
  text-align: left;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  border: none;
  height: 4rem;
  padding: 0.5em 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}

.navbar-buttonDropdown:hover {
  background-color: var(--background-color-hover);
}

.navbar-buttonDropdown-container {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color2);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* compact navbar */

.compact-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--background-color-navbar);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.compact-navbar-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: 1rem;
}

.compact-navbar-button {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 0.5em 0.5em;
  border: none;
  cursor: pointer;
}

.compact-navbar-button:hover {
  background-color: var(--background-color-hover);
}

.compact-navbar-icon {
  display: none;
}

/* Linup preview */

.lineup-preview {
  height: 95vh;
  max-width: 30rem;
  background-color: var(--background-color2);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
  overflow: hidden;
  overflow-y: auto;
}

.lineup-preview:hover {
  background-color: var(--background-color2-hover);
}

.lineup-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lineup-button {
  background-color: var(--background-color);
  color: var(--font-color);
  width: 100%;
  display: flex;
  align-items: center;
  height: 3rem;
  border: none;
  padding: 0.5em 0.5em;
  font-size: 1.5rem;
  cursor: pointer;
}

.lineup-button-container {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.lineup-preview:hover .lineup-button {
  background-color: #eeeeee;
}

/* Calendar preview */

.calendar-preview {
  height: 95vh;
  max-width: 30rem;
  background-color: var(--background-color2);
  padding: 1rem 1.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  cursor: pointer;
}

.calendar-preview:hover {
  background-color: var(--background-color2-hover);
}

.calendar-preview-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.calendar-preview-event {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5em 0.5em;
}

.calendar-preview:hover .calendar-preview-event {
  background-color: #eeeeee;
}

/* Calendar */

.calendar {
  height: 95vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f0f0f0;
}

.calendar-font {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.calendar-container {
  display: grid;
  grid-template-columns: 3rem repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 1rem;
}

.calendar-week {
  grid-row: span 5;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
}

/* lineup-stats */

.lineup-stats {
  height: 95vh;
  background-color: var(--background-color2);
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1.5rem;
  overflow: hidden;
  overflow-y: auto;
  flex-wrap: wrap;

}

.lineup-stats-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
}

.lineup-stats-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-color);
  gap: 0.5rem;
  max-width: 100%;
  padding: 1rem 1.5rem;
}

.font-lineup {
  min-width: 100%;
}

.lineup-picture {
  max-width: 10rem;
}

.lineup-p-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ececec;
}